body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 0;
  }

  .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: unset;
    border: 4px solid white;
    margin-bottom: 10px;
  }
  
  
  header {
    background-color: #0077cc;
    color: white;
    padding: 40px 20px;
    text-align: center;
  }
  
  section {
    padding: 20px;
    margin: 10px;
  }
  
  h2 {
    color: #0077cc;
  }
  
  ul {
    color: blueviolet;
    list-style-type: square;
  }
  

  /* Responsive layout for mobile */
@media (max-width: 600px) {
    body {
      font-size: 16px;
    }
  
    header {
      padding: 20px 10px;
    }
  
    .profile-pic {
      width: 120px;
      height: 120px;
    }
  
    section {
      padding: 15px;
    }
  }
  